<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="sales">
            <group id="id_incrementer"
                   translate="label"
                   sortOrder="100"
                   showInDefault="1"
                   showInWebsite="0"
                   showInStore="0">
                <label>ID Incrementer</label>
                <field id="enable_debug"
                       type="select"
                       translate="label"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="0"
                       showInStore="0"
                       canRestore="1">
                    <label>Enable Debug Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
